<div id="connect-media-view" class="row">
    <div class="col">
        <div class="row mt-5">
            <div class="col-2"></div>
            <button class="col-md-4 col-mg-3 rounded cursor-hand m-3 py-3">
                <div class="row align-items-center mx-auto">
                    <h3 class="no-border text-uppercase mx-auto">Offer Manager</h3>
                </div>
                <p>Create bespoke audiences and nominations for your campaigns/events</p>
            </button>
            <button class="col-md-4 col-mg-3 rounded cursor-hand m-3 py-3">
                <div class="row align-items-center mx-auto">
                    <h3 class="no-border text-uppercase mx-auto">Event Manager</h3>
                </div>
                <p>Plan and order your campaigns/events</p>
            </button>
        </div>
    </div>
</div>