.wrapper {
    font-size: 1em;
    width: 20%;
}

.px {
    width: 200px;
}

.vw {
    width: 10vw;
}

.em {
    width: 10em;
}

.box {
    border: 2px solid blue;
    background-color: cadetblue;
}

html {
    font-size: 16px;
}

.ems li {
    font-size: 1.3em;
}

.rems li {
    font-size: 1.3rem;
}